// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


/* constants */
$royal: #1e3186; // 主题绿色
$soft-blue: #647ce8;
$fill-blue: #D5DFFF;
$subtle-gray: darken(#fff, 5%);
$roboto: "Roboto", sans-serif;
$roboto-light: "Roboto-Light", sans-serif-light;
$light-green: rgb(19, 229, 182);
$success-green: #17ae8c;
$warning-orange: #ffa500;
$warning-red: #E15061;
$dark-gray: #445;
$mid-gray: #667;
$light-gray: #9b9bab;
$subtle-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
$hovering-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
$subtle-radius: 3px;
$visible-radius: 6px;
$unmistakable-radius: 12px;

/* Set ionic variables */

$colors: (

  primary:    #327eff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

) !default;




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$text-color:                 #000 !default;
$link-color:                 color($colors, primary) !default;
$background-color:           #fff !default;
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$toolbar-background:         $royal !default;
$toolbar-border-color:       #b2b2b2 !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$tabs-background:            #f8f8f8 !default;
$tabs-border-color:          #b2b2b2 !default;
$tabs-tab-color-inactive:    #8c8c8c !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      $background-color !default;
$list-border-color:          #c8c7cc !default;

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";




// Custom
// --------------------------------------------------

// Default Theme
// ----------------------------------


