#tab-home {
  @extend .deflash-blue;
  .bg {
    &.wallet {
      padding: .25rem
    }
  }
  .card {
    .item {
      color: #444;
      border-top: none;
      padding-bottom: 1rem;
      padding-top: 1rem;
      &.item-extra-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
    .item-sub {
      &:first-child:before {
        width: 95%
      }
      &:before {
        display: block;
        position: absolute;
        width: 75%;
        height: 1px;
        background: rgba(221, 221, 221, 0.3);
        top: 0;
        right: 0;
        content: '';
        @media (min-width: 450px) {
          & {
            width: 90%;
          }
        }
      }
    }
  }
  .home-tip {
    text-align: center;
    & > .item-heading {
      margin-top: 10px;
      background: 0 none;
    }
    .item {
      border-style: none;
    }
    & > .title {
      font-size: 20px;
      font-weight: bold;
      color: $dark-gray;
      margin: 20px 10px;
    }
    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      color: $dark-gray;
      margin: 20px 3em 2.5em;
    }
    .big-icon-svg {
      .bg.green {
        padding: 0 10px;
        box-shadow: none;
      }
    }
  }
  .icon.close-home-tip {
    color: #666;
    font-size: 38px;
  }
  .tab-home {
    &-logo {
      height: 18px;
      position: relative;
      top: 3px;
    }
  }
  .release {
    cursor: pointer;
    background-color: #E9E9EC;
    padding: 20px 0;
    text-align: center;
    color: #444;
    i {
      margin-top: 1px;
      font-size: 20px;
      margin-left: 10px;
      position: absolute;
    }
  }
  .table {
    text-align: center;
    .thead {
      margin-bottom: 10px;
      font-size: 16px;
      border-bottom: 1px solid #eee;
    }
    .tbody {
      font-size: 14px;
    }
  }
}
